# 2D Design Template

# Overview

The purpose of this project is for you to apply what you have learnt in this course. This includes working with data and visualizing it, create model of linear regression, as well as using metrics to measure the accuracy of your model. 

Please find the project handout description in the following [link](https://edimension.sutd.edu.sg/webapps/blackboard/content/listContent.jsp?course_id=_5261_1&content_id=_184406_1).

## Deliverables

You need to submit this Jupyter notebook together with the dataset into Vocareum. Use the template in this notebook to work on this project. You are free to edit or add more cells if needed

## Students Submission

Student's Name:
- Alaina Jaiswal
- Low Jiaen Phoebe
- Siar Wei Ju
- Pui Ling
- Linda

### Problem Statement

Describe the problem statement

### Dataset

- Describe your dataset.
- Put the link to the sources of your raw dataset.
- Put python codes for loading the data into pandas dataframe(s). The data should be the raw data downloaded from the source. No pre-processing using any software (excel, python, etc) yet. Include this dataset in your submission
- Explain each column of your dataset (can use comment or markdown)
- State which column is the dependent variable (target) and explain how it is related to your problem statement
- State which columns are the independent variables (features) and describe your hypothesis on why these features can predict the target variable

In [1]:
from typing import TypeAlias
from typing import Optional, Any    

Number: TypeAlias = int | float

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.axes as axes
import seaborn as sns
from IPython.display import display

#### 1. Reading the file

In [ ]:
# read file "dtp_cc.csv"

df: pd.DataFrame = pd.read_csv("dtp_cc.csv")
df.head() # o/p

,Unnamed: 0,Area,Item,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,hg/ha_yield
0,0,Albania,Maize,1990,1485,121.0,16.37,36613
1,1,Albania,Potatoes,1990,1485,121.0,16.37,66667
2,2,Albania,"Rice, paddy",1990,1485,121.0,16.37,23333
3,3,Albania,Sorghum,1990,1485,121.0,16.37,12500
4,4,Albania,Soybeans,1990,1485,121.0,16.37,7000

### Clean & Analyze your data
Use python code to:
- Clean your data
- Calculate Descriptive Statistics and other statistical analysis
- Visualization with meaningful analysis description

#### 2. Filtering columns
Columns to filter:
- Area (Countries)
- Year
- Item
- average_rain_fall_mm_per_year
-

In [ ]:
df: pd.DataFrame = pd.read_csv("dtp_cc.csv")

countries = ['India', 'Indonesia']

# df['Area'] = looking into Area column, .isin(countries) = filtering out wanted countries
df_features = df[df['Area'].isin(countries)]
display(df_features)

,Unnamed: 0,Area,Item,Year,average_rain_fall_mm_per_year,pesticides_tonnes,avg_temp,hg/ha_yield
10502,10502,India,Cassava,1990,1083,75000.0,25.58,205381
10503,10503,India,Cassava,1990,1083,75000.0,26.88,205381
10504,10504,India,Cassava,1990,1083,75000.0,25.79,205381
10505,10505,India,Cassava,1990,1083,75000.0,24.10,205381
10506,10506,India,Cassava,1990,1083,75000.0,25.25,205381
...,...,...,...,...,...,...,...,...
15373,15373,Indonesia,Sweet potatoes,2013,2702,1597.0,27.37,147465
15374,15374,Indonesia,Sweet potatoes,2013,2702,1597.0,27.88,147465
15375,15375,Indonesia,Sweet potatoes,2013,2702,1597.0,27.34,147465
15376,15376,Indonesia,Sweet potatoes,2013,2702,1597.0,26.72,147465
15377,15377,Indonesia,Sweet potatoes,2013,2702,1597.0,27.30,147465

In [ ]:
columns: list[str] = ["Area"]

df_feature: pd.DataFrame = df[columns]


#print(countries)

In [ ]:
def get_features_targets(df: pd.DataFrame, 
                         feature_names: list[str], 
                         target_names: list[str]) -> tuple[pd.DataFrame, pd.DataFrame]:
    ###
    # locating the feature and target for o/p and returned as new data frame
    df_feature = df.loc[:, feature_names]
    df_target = df.loc[:, target_names]
    ###
    pass
    return df_feature, df_target

df: pd.DataFrame = pd.read_csv("housing_processed.csv")
df_feature, df_target = get_features_targets(df,["RM"],["MEDV"])
array_feature,_,_ = normalize_z(df_feature.to_numpy())

In [4]:
# descriptive statistics

In [5]:
# visualization with analysis

### Features and Target Preparation

Prepare features and target for model training.

### Building Model

Use python code to build your model. Give explanation on this process.

In [ ]:
# put Python code to build your model

### Evaluating the Model

- Describe the metrics of your choice
- Evaluate your model performance

In [6]:
# put Python code to test & evaluate the model

### Improving the Model

- Improve the models by performing any data processing techniques or hyperparameter tuning.
- You can repeat the steps above to show the improvement as compared to the previous performance

Note:
- You should not change or add dataset at this step
- You are allowed to use library such as sklearn for data processing (NOT for building model)
- Make sure to have the same test dataset so the results are comparable with the previous model 
- If you perform hyperparameter tuning, it will require you to split your training data further into train and validation dataset

In [ ]:
# Re-iterate the steps above with improvement

### Discussion and Analysis

- Analyze the results of your metrics.
- Explain how does your analysis and machine learning help to solve your problem statement.
- Conclusion